        </div>{# end carousel-inner #}
    </div>{# end carousel-item #}

    {% if start.carouselAddControls is defined and start.carouselAddControls %}
        <button class="carousel-control-prev" type="button" data-bs-target="#{{ identifier }}" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">{{ carouselPrevious }}</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#{{ identifier }}" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">{{ carouselNext }}</span>
        </button>
    {% endif %}
</div>{# end wrapper element #}
    {% add to head %}
        <link rel="stylesheet" href="{{ asset('css/carousel_progress.css', 'markocupic_bootstrap_carousel') }}">
    {% endadd %}
    {% add to body %}
        <script src="{{ asset('js/CarouselProgress.js', 'markocupic_bootstrap_carousel') }}"></script>
        <script>
          document.addEventListener("DOMContentLoaded", () => {
            document.querySelectorAll(".carousel[data-progress]").forEach((el) => {
              new CarouselProgress(el);
            });
          });
        </script>
    {% endadd %}

