<div id="{{ identifier }}" class="carousel slide" data-interval="{{ carouselInterval }}" data-bs-ride="{{ carouselAutoplay }}" data-keyboard="{{ carouselReactToKeyboard }}" data-pause="{{ carouselPauseOnHover }}" data-wrap="{{ carouselInfiniteCycle }}">
    {% if carouselAddIndicators %}
        <ol class="carousel-indicators">
            {% for counter in arrCount %}
                <li data-bs-target="#{{ identifier }}" data-bs-slide-to="{{ counter }}" {% if counter == 0 %} class="active" aria-current="true" {% endif %}></li>
            {% endfor %}
        </ol>
    {% endif %}
    <div class="carousel-inner">
        <div class="carousel-item active">
